<!doctype html>
<html lang="en">


    {% block head %}
<head>
    <title>BeinSport</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{{ asset('https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap')}}" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('fonts/icomoon/style.css')}}">


    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.css')}}">
    <link rel="stylesheet" href="{{ asset('css/jquery.fancybox.min.css')}}">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{ asset('fonts/flaticon/font/flaticon.css')}}">
    <link rel="stylesheet" href="{{ asset('css/aos.css')}}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{{ asset('css/style.css')}}">

</head>

    {% endblock %}

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
{% block header %}

<div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>




    <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
            <div class="row align-items-center position-relative">

                <div class="col-3 ">
                    <div class="site-logo">
                        <a href="index.html">BeinSport</a>
                    </div>
                </div>

                <div class="col-9  text-right">


                    <span class="d-inline-block d-lg-none"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>



                    <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav ml-auto ">
                            <li class="active"><a href="#" class="nav-link">Accueil</a></li>
                            <li><a href="{{ path('AR') }}" class="nav-link">Match</a></li>
                            <li><a href="{{ path('EV') }}" class="nav-link">Evenements</a></li>
                            <li><a href="#" class="nav-link">Reclamation</a></li>
                            <li><a href="#" class="nav-link">News</a></li>
                            <li class="nav-item dropdown nav-user">
                                <a href="#" data-toggle="dropdown" >Autres</a>
                                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" >

                                    <a class="dropdown-item" href="#">Terrains</a>
                                    <a class="dropdown-item" href="#">Arbitres</a>
                                    <a class="dropdown-item" href="#">Coachs</a>
                                    <a class="dropdown-item" href="#">Salle de sport</a>

                                </div>
                            </li>
                            <li><a href="#" class="nav-link"></a></li>
                            <li><a href="#" class="nav-link"></a></li>
                            <li><a href="#" class="nav-link">Login</a></li>
                            <li><a href="#" class="nav-link">Sign up</a></li>
                        </ul>
                    </nav>
                </div>


            </div>
        </div>

    </header>


    <div class="ftco-blocks-cover-1">
        <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('images/background.png')">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-7">
                        <h1 class="mb-3">Welcome to BeinMatch</h1>
                        <p>On vous garantie la satisfaction la fiabilité et le comfort  </p>
                        <p><a href="#" class="btn btn-primary">Learn More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}


    {% block body %}
        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="img-years">
                            <img src="images/img_1.jpg" alt="Image" class="img-fluid">
                            <div class="year">
                                <span>3 <span>years in <br>excellent service</span></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-5 ml-auto pl-lg-5 text-center">
                        <h3 class="scissors text-center">Welcome To BeinMatch!</h3>
                        <p class="mb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nesciunt nemo vel earum maxime neque!</p>
                        <p><a href="#" class="btn btn-primary">Learn More</a></p>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block footer %}
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <img src="{{ asset('images/img_1.jpg')}}" alt="Image" class="img-fluid mb-5">
                    <h2 class="footer-heading mb-3">About Us</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
                <div class="col-lg-8 ml-auto">
                    <div class="row">
                        <div class="col-lg-6 ml-auto">
                            <h2 class="footer-heading mb-4">Quick Links</h2>
                            <ul class="list-unstyled">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Terms of Service</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <h2 class="footer-heading mb-4">Newsletter</h2>
                            <form action="#" class="d-flex" class="subscribe">
                                <input type="text" class="form-control mr-3" placeholder="Email">
                                <input type="submit" value="Send" class="btn btn-primary">
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>

</div>
    {% endblock %}
{% block js %}
<script src="{{ asset('js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ asset('js/jquery-migrate-3.0.0.js')}}"></script>
<script src="{{ asset('js/popper.min.js')}}"></script>
<script src="{{ asset('js/bootstrap.min.js')}}"></script>
<script src="{{ asset('js/owl.carousel.min.js')}}"></script>
<script src="{{ asset('js/jquery.sticky.js')}}"></script>
<script src="{{ asset('js/jquery.waypoints.min.js')}}"></script>
<script src="{{ asset('js/jquery.animateNumber.min.js')}}"></script>
<script src="{{ asset('js/jquery.fancybox.min.js')}}"></script>
<script src="{{ asset('js/jquery.stellar.min.js')}}"></script>
<script src="{{ asset('js/jquery.easing.1.3.js')}}"></script>
<script src="{{ asset('js/bootstrap-datepicker.min.js')}}"></script>
<script src="{{ asset('js/aos.js')}}"></script>

<script src="{{ asset('js/main.js')}}"></script>
{% endblock %}
</body>

</html>

